<a href="https://colab.research.google.com/github/SumayyaShaji/datascience/blob/main/Copy_of_EXP_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

datatypes

In [ ]:
a=1
print(type(a))
b='sumiMca'
print(type(b))
c=[1,2]
print(type(c))
d={1:'sumi',2:'shaji'}
print(type(d))
e=True
print(type(e))
f=33.01
print(type(f))
g={"sumi","shaji"}
print(type(g))
h=(10,56)
print(type(h))
i=bytes(10)
print(type(i))
j=bytearray()
print(type(j))
k=range(4)
print(type(k))

<class 'int'>
<class 'str'>
<class 'list'>
<class 'dict'>
<class 'bool'>
<class 'float'>
<class 'set'>
<class 'tuple'>
<class 'bytes'>
<class 'bytearray'>
<class 'range'>

Containers

In [ ]:
#list
mca_list=['hello','world','mca']
print(mca_list[0])
print(mca_list[0:2])
print(mca_list[-2])

hello
['hello', 'world']
world

In [ ]:
#dictionary
d={1:'divya',2:'sumi',3:'mca'}
print(d)

print("1st name is"+d[1])
print("2nd name is"+d[3])

print(d.keys())
print(d.values())

{1: 'divya', 2: 'sumi', 3: 'mca'}
1st name isdivya
2nd name ismca
dict_keys([1, 2, 3])
dict_values(['divya', 'sumi', 'mca'])

In [ ]:
#tuple
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)

print(x)

('apple', 'kiwi', 'cherry')

In [ ]:
#sets
thisset = {"apple", "banana", "cherry"}

thisset.add("orange")

print(thisset)

{'cherry', 'orange', 'banana', 'apple'}

{'orange', 'cherry', 'apple', 'banana'}

{'apple', 'banana', 'cherry', 'orange'}

function and return statement

In [ ]:
def my_function(x):
  return 5 * x

print(my_function(3))
print(my_function(5))
print(my_function(9))

15
25
45

15
25
45

45